body {
  background-color: rgb(41, 40, 40);
}
.grid-container {
  color: gray;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  width: 70%;
}

.grid-container > div {
  padding: 50px;
}

.item1 {
  background-color: orangered;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  height: auto;
}

.item3 {
  background-color: yellow;
  grid-row-start: 1;
  grid-row-end: 3;
  height: auto;
}

.item4 {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.item5 {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.item8 {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 4;
  /* grid-row-start: 3;
  grid-row-end: 4; */
}
