html, body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
}

header {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding-top: 20%;
  height: 40vh;
}

nav {
  background-color: white;
  width: 100%;
  font-weight: 900px;
  position: absolute;
/*   margin-right: 10%;
  margin-left: 10%; */
  top: 0;
  margin-bottom: 25px;
  text-align: center;
  word-spacing: 5px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: black;
}

nav a:clicked {
  color: black;
}

#pic-div {
  display: flex;
  justify-content: center;
}

#my-pic {
  width: 250px;
  height: 250px;
  position: relative;
  margin: auto;
}

.competencies {
  text-align: center;
}

#marv {
  text-align: center;
}

#services {
  text-align: center;
}

#projects {
  text-align: center;
}

.project-container {
    display: flex !important;
  flex-direction: row;
}

.project {
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  background-color: blueviolet;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

footer {
  color: white;
  width: 100%;
  background-color: black;
  text-align: center;
  position: sticky;
  margin-top: 70px;
  padding: 10px;
  bottom: 0;
}

form {
  padding-top: 30px;
  display: block;
  color: white;
  background-color: blueviolet;
  height: 50vh;
  margin: auto;
}

form p {
  text-align: center;
}
form input {
  width: 80%;
  border-radius: 5px;
  position: block;
}

.form-fields {
  padding: 5px;
  margin-right: 10%;
  margin-left: 10%;
}

form button {
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

a {
  text-decoration: none;
}